{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static '/css/homepage.css' %}" />
    </head>
    <body>
        <div id="page-container">
                <div id="content-wrap">
                {% include './snippets/banner_snippet.html' %}

                {% block test_content %}

                {% endblock test_content %}

                {% include './snippets/logo_snippet.html' %}

                {% include './snippets/footer_snippet.html' %}

                {% include './snippets/a_snippet.html' %}
                </div>
        </div>
    </body>
</html>