{% load static %}
{% load userlink %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/deletecomment.css' %}" />
    <script src="https://kit.fontawesome.com/88aa0bde0e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Corben" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nobile" rel="stylesheet">
    <title>Delete comment</title>
  </head>
  <body>
    <main class="delete-item layout">
        <div id="page-container">
          <div id="content-wrap">
            <div class="topnav">
              <a class="bird"><i class="fa-solid fa-crow"></i></a>
              <a href="/homepage"><i class="fa-solid fa-home"></i></a>
              {% if user.is_authenticated %}
              {% else %}
              <a href="/login">Login</a>
              {% endif %}
              <a href="/forum">Forum</a>
              <a href="/about">About</a>
              {% if user.is_authenticated %}
              <span class="welcome-user">Logged in as {% userlink your_id %} [<a class="logout" href="/logout">Logout</a>]</span>
              {% endif %}
            </div>
            <div class="layout--2">
              <div class="container"> 
                <div class="layout__boxTitle">
                  <a href="{{request.META.HTTP_REFERER}}">
                    <svg
                      version="1.1"
                      xmlns="http://www.w3.org/2000/svg"
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                    >
                      <title>arrow-left</title>
                      <path
                        d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"
                      ></path>
                    </svg>
                  </a>
                  <h3>Back</h3>
                  <form class="form" method="POST" action="">
                    {% csrf_token %}
                    <div class="form__group">
                      <div class="post__details">Are you sure you want to delete your comment: "{{comment.content}}"?</div>
                    </div>

                    <div class="for__group">
                      <input class="btn btn--main" type="submit" value="Confirm" />
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="footer">
            <p class="footer-text-left">
                <i class="fa-solid fa-copyright"></i> TEAM EAGLES
            </p>
            <p class="footer-text-right">
                COSC 481/581 - Fall 2023
            </p>
        </div>
      </div>
    </main>
  </body>
</html>
