{% load static %} {% load userlink %}
<!DOCTYPE html>
<html>
  <head>
    <title>Nestdoor - Forum</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/homepage.css' %}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Corben"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nobile"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/88aa0bde0e.js" crossorigin="anonymous"></script>
  </head>
  <style>
    .flex-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    .flex-box {
      background-color: darkseagreen;  
      border: 1px solid black;
      width: auto;
      height: auto;
      margin: 20px;
      text-align: center;
      font-size: 40px;
      overflow: auto;
    }
  </style>
  <body>
    <div id="page-container">
      <div id="content-wrap">
        <div class="topnav">
          <a href="/homepage"><i class="fa-solid fa-crow"></i></a>
          <a href="/homepage"><i class="fa-solid fa-home"></i></a>
          {% if user.is_authenticated %} {% else %}
          <a href="/login">Login</a>
          {% endif %}
          <a class = "active" href="/forum">Forum</a>
          <a href="/about">About</a>
          {% if user.is_authenticated %}
          <span class="welcome-user">
            Welcome! Logged in as {% userlink your_id %} [<a
              class="logout"
              href="/logout"
              >Logout</a
            >]</span
          >
          {% endif %}
        </div>

        <h1 class = "title">Nestdoor Forum</h1>
        <h2>Create a Post:</h2>
        <div class = "signup">
        {% if user.is_authenticated %}
        <div style="color: black; padding-left: 10px">
          <form method="post">
            {% csrf_token %} {% for field in post_form %} {{field.label_tag}}
            <br />
            {{field}}
            <br />
            {% endfor %} {% if login_form.non_field_errors %}
            <div style="color: red">
              <p>{{post_form.non_field_errors}}</p>
            </div>
            {% endif %}
            <button type="submit" class="btn btn-success">Create Post</button>
          </form>
        </div>
        {% endif %}
    </div>

        <div class="h_line"></div>
        <h2>Respond to Previous Posts:</h2>
        <div class = "signup">
        <div class="flex-container">
        
          {% for post in posts %}
          <div class="flex-box">
            <div class = "signup">
            <form method="POST" id="detailed-post">
              <!--<a href="/userpost?postid={{post.post_id}}">{{post.title}}</a> -->
              <a href="/userpost/{{post.post_id}}">{{post.title}}</a>
              <br />Posted by: {% userlink post.posted_by.id%} 
              {% if post.posted_by == user %}
                        <a href="/edit?post={{post.post_id}}">(Edit)</a>
              {% endif %}
            </form>
        </div>
          </div>
          {% endfor %}
        </div>
    </div>
        <div class="h_line"></div>
      </div>
      <div class="footer">
        <p class="footer-text-left"><i class="fa-solid fa-copyright"></i> TEAM EAGLES</p>
        <p class="footer-text-right">COSC 481/581 - Fall 2023</p>
      </div>
    </div>
  </body>
</html>
