{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static '/css/homepage.css' %}" />
        <meta charset="UTF-8" />
        <title>Home Page</title>
    </head>
    <body>
        <div class="wrapper">
          <!-- save for future use --lu -->
          <!-- <div class="section"></div>
          <div class="section"></div> -->
          <div class="image"></div>
        </div>

        <div id="page-container">
            <div id="content-wrap">
                <div class="topnav">
                    <a href="/homepage"><img src={% static '/images/reed_logo_mini.png' %} alt="Nestdoor App Logo Small" style="width:30px;height:30px;" class="center" ></a>
                    <a class="active" href="">Home</a>
                    {% if user.is_authenticated %}
                    <a href="/logout">Logout</a>
                    {% else %}
                    <a href="/login">Login</a>
                    {% endif %}
                    <a href="/forum">Forum</a>
                    <a href="/about">About</a>
                </div>
                
                <h1>Welcome to the Temporary Home Page!</h1>
                {% if user.is_authenticated %}
                <span> Welcome! Logged in as {{user.username}}</span>
                {% endif %}

                <div class="h_line"></div>
                <h1 class="split-para">
                {% if user.is_authenticated %}
                <a href="/logout">Logout</a> </br> 
                {% else %}
                <a href="/login">Login</a> <br/> 
                <a href="/logout">Logout</a> </br> 
                <a href="/sign-up">Sign Up</a> <span>
                <a href="/forum">Newest Posts!</a></span></h1>
                {% endif %}
                <div class="h_line"></div>
                <div class="container">{% block content %} {% endblock %}</div>
                
            </div>
            <div class="footer">
                <p class="footer-text-left">
                    TEAM EAGLES
                </p>
                <p class="footer-text-right">
                    COSC 481
                </p>

                <div class="footer-content-center">
                    <a href="/homepage"><img src={% static '/images/reed_logo2.png' %} class="icon-style" alt="Nestdoor App Logo Small"></a>
                </div>
            </div>
        </div>
    </body>
</html>