{% load static %}
{% load userlink %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/homepage.css' %}" />
    <meta charset="UTF-8" />
    <title>Home Page</title>
    <script src="https://kit.fontawesome.com/88aa0bde0e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Corben" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nobile" rel="stylesheet">

</head>
<body>
    <div class="wrapper">
        <!-- save for future use --lu -->
        <!-- <div class="section"></div>
        <div class="section"></div> -->
        <div class="image"></div>
    </div>

    <div id="page-container">
        <div id="content-wrap">
            <div class="topnav">
                <a href="/homepage"><i class="fa-solid fa-crow"></i></a>
                <a class="active" href="/homepage"><i class="fa-solid fa-home"></i></a>
                {% if user.is_authenticated %}
                {% else %}
                <a href="/login">Login</a>
                {% endif %}
                <a href="/forum">Forum</a>
                <a href="/about">About</a>
                {% if user.is_authenticated %}
                <span class="welcome-user"> Welcome! Logged in as {% userlink your_id %} [<a class="logout" href="/logout">Logout</a>]</span>
                {% endif %}
            </div>

            <h1 class="title">Welcome to Nestdoor</h1>
            <h2 class="subheading">F i n d&nbsp;&nbsp;y o u r&nbsp;&nbsp;&nbsp;f l o c k .</h2>


            <div class="h_line"></div>
            <div class="content-container">
                <div class="signup">
                    <h2>[Sign-up Page Content Here]</h2>
                    {% block content %} {% endblock %}
                </div>
                <div class="popular">
                    <h2>[Top 3 posts Content]</h2>
                </div>
            </div>
            <!-- <h1 class="split-para">
            {% if user.is_authenticated %}
            <a href="/logout">Logout</a> </br>
            {% else %}
            <a href="/login">Login</a> <br/>
            <a href="/logout">Logout</a> </br>
            <a href="/sign-up">Sign Up</a> <span>
            <a href="/forum">Newest Posts!</a></span></h1>
            {% endif %}
             -->

        </div>

        <div class="footer">
            <p class="footer-text-left">
                <i class="fa-solid fa-copyright"></i> TEAM EAGLES
            </p>
            <p class="footer-text-right">
                COSC 481/581 - Fall 2023
            </p>
            <div class="footer-content-center">
                <a href="/homepage"></a>
            </div>
        </div>
    </div>
</body>
</html>