{% load static %}
{% load userlink %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static '/css/userpost.css' %}" />
        <meta charset="UTF-8" />
        <title>{{post.posted_by}}'s post</title>
        <script src="https://kit.fontawesome.com/88aa0bde0e.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Corben" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nobile" rel="stylesheet">
    </head>
    <style>
  </style>
    <body>
        <div id="page-container">
            <div id="content-wrap">
                <div class="topnav">
                    <a href="/homepage"><i class="fa-solid fa-crow"></i></a>
                    <a href="/homepage"><i class="fa-solid fa-home"></i></a>
                    {% if user.is_authenticated %}
                    {% else %}
                    <a href="/login">Login</a>
                    {% endif %}
                    <a href="/forum">Forum</a>
                    <a class="active" href="">About</a>
                    {% if user.is_authenticated %}
                    <span class="welcome-user"> Welcome! Logged in as {% userlink your_id %} [<a class="logout" href="/logout">Logout</a>]</span>
                    {% endif %}
                </div>
                
                <h1 class = "title">{{post.title}}</h1>
                <div class="post_content">
                    {{post.content}}
                </div> 
                <h5 class="postedby">Posted by: {% userlink post.posted_by %} on {{post.datetime_posted}}</h5>
                <!-- Please include your work for "comment on user's detailed post" pbi here Lu! --Sal-->
                <!-- Hi Lu, this is some started code for displaying comments, let me know if you need help... - Griff -->
                <h2 class = "subheading">Comments</h2>
                {% for reply in replies %}
                    <div class="comment-div">
                    {{reply.content}}
                    </div>
                    <br>
                {% endfor %}
                <!-- Please include your work for "comment on user's detailed post" pbi here Lu! --Sal-->
            </div>
            <div class="footer">
                <p class="footer-text-left">
                    <i class="fa-solid fa-copyright"></i> TEAM EAGLES
                </p>
                <p class="footer-text-right">
                    COSC 481/581 - Fall 2023
                </p>
            </div>
        </div>
    </body>
</html>