{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static '/css/userpost.css' %}" />
        <meta charset="UTF-8" />
        <title>User Detailed Post</title>
    </head>
    <body>
        <div class="wrapper">
          <!-- save for future use --lu -->
          <!-- <div class="section"></div>
          <div class="section"></div> -->
          <div class="image"></div>
        </div>

        <div id="page-container">
            <div id="content-wrap">
                <div class="topnav">
                    <a href="/homepage"><img src={% static '/images/reed_logo_mini.png' %} alt="Nestdoor App Logo Small" style="width:30px;height:30px;" class="center" ></a>
                    <a class="active" href="">Home</a>
                    {% if user.is_authenticated %}
                    <a href="/logout">Logout</a>
                    {% else %}
                    <a href="/login">Login</a>
                    {% endif %}
                    <a href="/forum">Forum</a>
                    <a href="/about">About</a>
                </div>
                
                <h3>Temporary User Detailed Post Page</h3>
                <h3>Giant white box below is for post content</h3>
                <div class="post_content">{{Post.content}}</div> <!-- Supposed to show content from the post maybe? --Sal-->
                <h5 class="postedby">Posted by: "username" on "date"</h5>
                <h2>Comments</h2>
                <!-- Please include your work for "comment on user's detailed post" pbi here Lu! --Sal-->
            </div>
            <div class="footer">
                <p class="footer-text-left">
                    TEAM EAGLES
                </p>
                <p class="footer-text-right">
                    COSC 481
                </p>

                <div class="footer-content-center">
                    <a href="/homepage"><img src={% static '/images/reed_logo2.png' %} class="icon-style" alt="Nestdoor App Logo Small"></a>
                </div>
            </div>
        </div>
    </body>
</html>