{% load static %} {% load userlink %}
<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/userpost.css' %}"
    />
    <meta charset="UTF-8" />
    <title>{{post.posted_by}}'s post</title>
    <script
      src="https://kit.fontawesome.com/88aa0bde0e.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Corben"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nobile"
      rel="stylesheet"
    />
  </head>
  <style></style>
  <body>
    <div id="page-container">
      <div id="content-wrap">
        <div class="topnav">
          <a href="/homepage"><i class="fa-solid fa-crow"></i></a>
          <a href="/homepage"><i class="fa-solid fa-home"></i></a>
          {% if user.is_authenticated %} {% else %}
          <a href="/login">Login</a>
          {% endif %}
          <a href="/forum">Forum</a>
          <a class="active" href="">About</a>
          {% if user.is_authenticated %}
          <span class="welcome-user">
            Welcome! Logged in as  [<a
              class="logout"
              href="/logout"
              >Logout</a
            >]</span
          >
          {% endif %}
        </div>
      </div>
    

    <main class="layout layout--2">
      <div class="container">
        <!-- # This block display post title, creator, time created and content --lu -->
        <div class="post__box scroll">
            <div class="post__header scroll">
            <div class="post__info">
                <h3>{{post.title}}</h3>
                <span>{{post.datetime_posted|timesince}} ago</span>
            </div>
            <div class="post__hosted"> 
                <span>@{{post.posted_by.username}}</span>
            </div>
            <div class="post__content">
                {{post.content}}
            </div>
            </div>

        <!-- # This block display all comments for a post -- lu -->
            <div class="post__reply">
                <div class="replies scroll">

                    {% for comment in comments %}
                    <div class="reply">
                        <div class="reply__top">
                            <div class="reply__author">
                                <span>@{{comment.posted_by.username}}</span>
                                <span class="reply__date">{{comment.datetime_posted|timesince}} ago</span>
                            </div>
            
                            {% if request.user == comment.posted_by %}
                            <div class="reply__delete">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                                    <title>remove</title>
                                    <path
                                    d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z">
                                    </path>
                                </svg>
                            </div>
                            {% endif %}
                        </div>

                        <div class="reply__details">
                            {{comment.content}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>


          {% if request.user.is_authenticated %}
          <div class="post__message">
   
             <form action="" method="POST">
               {% csrf_token %}
   
                 <input name="body" placeholder="Add Comment:" required onkeypress="auto_grow(this);" onkeyup="auto_grow(this);"/>
   
                 <button class="message__button">
                   <!-- by https://iconsvg.xyz/ -->
                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M12 8l4 4-4 4M8 12h7"/></svg>
                 </button>
                </form>
            </div>
            {% endif %}
          </div>
        </div>
    </div>
</main>



      <div class="footer">
        <p class="footer-text-left">
          <i class="fa-solid fa-copyright"></i> TEAM EAGLES
        </p>
        <p class="footer-text-right">COSC 481/581 - Fall 2023</p>
      </div>

    </div>
  </body>
</html>
