{% extends 'homepage.html' %} {% load crispy_forms_tags %}
{% block title %}Login{% endblock %} 
{% block content %}
<form method="post">
    {% csrf_token %}
    <!-- {{ form|crispy }} -->
    {% for field in login_form %}
        <p style="color: black;">
            {{field.label_tag}}
            {{field}}

            
            {% for error in field.errors %}
                <p style="color: red;">
                    {{error}}
                </p>
            {% endfor %}
        </p>
        {% endfor %}
        {% if login_form.non_field_errors %}
                <div style="color:red;">
                    <p>
                        {{login_form.non_field_errors}}
                    </p>
                </div>
            {% endif %}
    <div> Don't have an account? Create one <a href="/sign-up">Here</a>! </div>
    <div> Forgot your password? click <a href="/password_reset">here</a>! </div>
<button type="submit" class="btn btn-success">Login</button>
</form>
  {% endblock %}