/* added background */
/* global style -- lu */
* {
  margin: 0;
  padding: 0;
}

/* set the frame for the element -- lu */
.wrapper {
  position:absolute;
  width: 100%;
}

/* specifiied attributes -- lu */
.wrapper .image {
  margin: 0;
  padding: 0;
  height: 100vh; /* Set the body's height to cover the entire viewport */
  background: url('../images/reed_logo1.png');
  background-size: 200px 400px;
  background-position: center;
  background-repeat: repeat; 
  opacity: 0.2;
  mix-blend-mode: multiply;
}

body {
    background-color: floralwhite;
    padding-top: 50px;
  }
  h1 {
    color: black;
  }
  p {
    color: white;
  }

.post_content {
  background-color: floralwhite;
  height:400px;
  width:1000px;
  border:5px solid darkgreen;
  font:16px/26px Georgia, Garamond, Serif;
  overflow: auto;
}

.postedby {
  color: darkgreen;
  padding-left: 3px;
}

/* Text Spanning */
.split-para { 
  display:block;
  margin:100px;
  padding-left: 25%;
}
.split-para span { 
  display:block;
  float:right;
  width:50%;
  margin-left:100px;
}

/* Page set up wrapping */
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 80px;    /* Footer height from above it */
}

/* Top navigation */
  .topnav {
    background-color: darkgreen;
    overflow: hidden;
    text-align: center;
    position: fixed;
    display: block;
    transition: top 0.3s;
    width: 100%;
    top: -5px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: floralwhite;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: whitesmoke;
    color: darkgreen;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(100, 147, 100);
    color: whitesmoke;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

/* Footer Styling */
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: darkgreen;
    color: floralwhite;
    text-align: center;
  }

  .footer-text-left {
    font-size:25px;
    padding-left:40px;
    float:left;
  }

  .footer-text-right {
    font-size:25px;
    padding-right:40px;
    float:right;
  }

  .footer-content-center {
    padding-block-start: 0%;
    margin-top:20px;
    float:right;
  }

  .icon-style {
    height:40px;
    padding-right: 10px;
    margin-left:0px;
    margin-top:0px;
  }

  .icon-style:hover {
    background-color:yellow;
    padding:5px;
  }